body {
    color: lightblue;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 100px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    width: 50px;
    border-top: 2px solid #ccc;
    margin: 20px auto 25px auto;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(0,0,0,.3);
    font-size: 24px;
    color: white;
    line-height: 118px;
    text-align: center;
    border: 2px solid white;
}